.cards {
  /*++*/
  margin: 0 auto;
  padding: 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); */

  grid-template-rows: repeat(3, 213px);
  grid-template-columns: repeat(auto-fill, 284px);

  /* grid-template-rows: repeat(3, 213px);
  grid-template-columns: repeat(4, 284px); */

  /* grid-template-columns: repeat(auto-fit, calc((100% - (16px * 3)) / 4)); */

  gap: 16px;
}