.intro__list {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-left: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
}
