@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Black.woff2") format("woff2"),
    url("../font/Inter-Black.woff") format("woff"),
    url("../font/Inter-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Bold.woff2") format("woff2"),
    url("../font/Inter-Bold.woff") format("woff"),
    url("../font/Inter-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.woff2") format("woff2"),
    url("../font/Inter-Regular.woff") format("woff"),
    url("../font/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
