.footer__container {
  /*++*/
  margin: 0 auto;
  padding-top: 0;
  /* padding-left: 48px;
  padding-right: 48px; */
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}