.lead__title {
  /*++*/
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  min-height: 200px;
  text-align: center;
}