.header__language-link {
  margin: 0;
  padding: 0;
  margin-right: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: none;
  max-width: 29px;
  min-height: 28px;
  color: #ffffff;
}

.header__language-link:last-child {
  margin-right: 0;
}
