.intro__text {
  /*++*/
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 100%;
  min-height: 208px;
  background-size: contain;
}