.lead__subtitle {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  min-height: 72px;
}
