.cover__overlay {
  /*разобраться с transition: all 0.3s linear; скорее всего в rotation*/
  position: absolute; /*++*/
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
