.place {
  /*++*/
  display: grid;
  gap: 48px 40px;
  /* grid-template-columns: repeat(2, 460px); */
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);

  grid-auto-rows: minmax(76px, auto);
}