.footer__link {
  margin: 0;
  margin-right: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  line-height: 18px;
}
.footer__link:hover {
  transition: all 0.3s linear;
  opacity: 0.5;
}
